/**
 * Global Settings
 * https://nuxtjs.org/guide/routing#transitions
 */
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-leave,
.page-enter-to {
  opacity: 1;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 300ms;
}
